<a href="https://colab.research.google.com/github/edalgoca/mod02_python/blob/main/20221028_Introducci%C3%B3n_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Instalar librerías**

In [ ]:
# Instalar librerias
!pip install pyspark
!pip install -q kaggle

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

# **Importar librerías**

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import zipfile
import os
import pandas as pd

ModuleNotFoundError: ignored

In [ ]:
import pandas as pd
df=pd.read_csv("test1.csv")
df

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

# **Creación de una sesión con Spark**

In [ ]:
#Iniciar conexión de spark
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

# **Conexión con kaggle para descargar los datos**
Para descargar datos desde Kaggle es necesario crear un token de acceso. Para esto debes seguir los siguientes pasos:

1.   Ingresa a tu perfil de kaggle
2.   Seleccionar *Account* y bajar hasta la opción *API*
3.   Dar click en *Create New API Token* y se descargará un archivo JSON con   tus credenciales
4.   Subir el archivo JSON a Colab Notebook

In [ ]:
# Creamos carpeta oculta en ambiente de linux sobre colab
!mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
# Copiar el archivo JSON  a la carpeta oculta que creamos
!cp kaggle.json ~/.kaggle/

In [ ]:
# Cambiamos los permisos para permitir lectura de las credenciales
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# Descargamos archivos indicando el usuario del propietario de los datos en kaggle y el nombre de dataset
! kaggle datasets download arevel/chess-games --force

Downloading chess-games.zip to /content
100% 1.45G/1.45G [00:18<00:00, 84.3MB/s]
100% 1.45G/1.45G [00:18<00:00, 83.8MB/s]

In [ ]:
# Descomprimir el archivo
for file in os.listdir():
    if file.endswith('.zip'):
      zip_ref = zipfile.ZipFile(file, 'r')
      zip_ref.extractall()
      zip_ref.close()

# **Lectura de datos**

## Lectura de datos con Pandas

In [ ]:
df_pandas = pd.read_csv('/content/chess_games.csv')

## Lectura datos con PySpark

In [ ]:
df = spark.read.csv('/content/chess_games.csv', header=True)

# **Procesamiento de datos**

## Número de filas y columnas

pandas: 

```
df.shape
```

In [ ]:
print((df.count(), len(df.columns)))

(6256184, 15)

## Ver una muestra de los datos

pandas: 

```
df.head()
```

In [ ]:
df.show()

+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+
|             Event|          White|          Black|Result|   UTCDate| UTCTime|WhiteElo|BlackElo|WhiteRatingDiff|BlackRatingDiff|ECO|             Opening|TimeControl| Termination|                  AN|
+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+
|        Classical |        eisaaaa|       HAMID449|   1-0|2016.06.30|22:00:01|    1901|    1896|           11.0|          -11.0|D10|        Slav Defense|      300+5|Time forfeit|1. d4 d5 2. c4 c6...|
|            Blitz |         go4jas|     Sergei1973|   0-1|2016.06.30|22:00:01|    1641|    1627|          -11.0|           12.0|C20|King's Pawn Openi...|      300+0|      Normal|1. e4 e5 2. b3 Nf...|
| Blitz tournament |Evangelistaizac|         kafune|   1-0|2016.06.30|22:00:02|    1647|    1688|           13.0|          -13.0|B01|Scandinavian Defe...|      180+0|Time forfeit|1. e4 d5 2. exd5 ...|
|   Correspondence |         Jvayne|       Wsjvayne|   1-0|2016.06.30|22:00:02|    1706|    1317|           27.0|          -25.0|A00|Van't Kruijs Opening|          -|      Normal|1. e3 Nf6 2. Bc4 ...|
| Blitz tournament |         kyoday|      BrettDale|   0-1|2016.06.30|22:00:02|    1945|    1900|          -14.0|           13.0|B90|Sicilian Defense:...|      180+0|Time forfeit|1. e4 c5 2. Nf3 d...|
| Blitz tournament | lucaseixasouza|         diguim|   0-1|2016.06.30|22:00:02|    1773|    1809|          -10.0|           10.0|C27|         Vienna Game|      180+0|      Normal|1. e4 e5 2. Nc3 d...|
| Blitz tournament |       RENZZO77|HeadlessChicken|   0-1|2016.06.30|22:00:02|    1895|    1886|          -12.0|           12.0|B10|Caro-Kann Defense...|      180+0|Time forfeit|1. e4 c6 2. Nf3 d...|
| Blitz tournament |          ipero|      Bayern123|   1-0|2016.06.30|22:00:02|    2155|    2356|           20.0|          -20.0|D02|Queen's Pawn Game...|      180+0|      Normal|1. d4 d5 2. Nf3 N...|
| Blitz tournament |Loginov19510410|        Kereshu|   0-1|2016.06.30|22:00:02|    2010|    2111|           -9.0|            9.0|A45|         Indian Game|      300+0|      Normal|1. d4 Nf6 2. Bf4 ...|
| Blitz tournament |     Shambobala|     cernunnoss|   1-0|2016.06.30|22:00:02|    1764|    1773|           12.0|          -12.0|B01|Scandinavian Defe...|      180+0|Time forfeit|1. e4 d5 2. exd5 ...|
|        Classical |        DARDELU|   chess4life54|   0-1|2016.06.30|22:00:01|    1649|    1638|          -13.0|           11.0|C57|Italian Game: Two...|      900+3|      Normal|1. e4 e5 2. Nf3 N...|
|        Classical |        fabikim|         sereno|   1-0|2016.06.30|22:00:02|    1630|    1500|            7.0|           -7.0|C41| Philidor Defense #3|      420+5|      Normal|1. e4 e5 2. Nf3 d...|
| Blitz tournament |      IZDenisZI|         BoBo93|   1-0|2016.06.30|22:00:02|    1833|    1837|           11.0|          -12.0|C36|King's Gambit Acc...|      300+0|      Normal|1. e4 e5 2. f4 ex...|
| Blitz tournament |     lasha-fero| ildivinojohnny|   1-0|2016.06.30|22:00:02|    2020|    1979|           10.0|          -11.0|A00|      Polish Opening|      180+0|Time forfeit|1. b4 e6 2. Bb2 d...|
| Blitz tournament |       arkadyNa|     sofianet06|   0-1|2016.06.30|22:00:02|    1581|    1616|          -12.0|           11.0|B01|Scandinavian Defe...|      180+0|Time forfeit|1. e4 d5 2. exd5 ...|
| Blitz tournament |    mayconchess|        trend19|   0-1|2016.06.30|22:00:02|    1879|    1868|          -13.0|           12.0|B01|Scandinavian Defe...|      180+0|      Normal|1. e4 d5 2. exd5 ...|
| Blitz tournament |         lj1983|        plmnnnn|   1-0|2016.06.30|22:00:02|    1963|    1979|           12.0|          -13.0|B10|Caro-Kann Defense...|      180+0|      Normal|1. e4 c6 2. Nf3 d...|
| Blitz tournament |         Inorem|       leymoral|   1-0|2016.06.30|22:00:02|    1751|    1712|           10.0|          -10.0|C62|Ruy Lopez: Steini...|      180+0|      Normal|1. e4 e5 2. Nf3 N...|
| Blitz tournament |     Torres2300| Trabelsi-Wajdi|   0-1|2016.06.30|22:00:02|    1795|    1800|          -14.0|           11.0|B32|Sicilian Defense:...|      300+0|      Normal|1. e4 c5 2. Nf3 e...|
| Blitz tournament |         Igor76|          dancg|   1-0|2016.06.30|22:00:02|    1913|    1925|           11.0|          -13.0|B12|Caro-Kann Defense...|      300+0|      Normal|1. e4 c6 2. d4 d5...|
+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+
only showing top 20 rows

## Esquema de los datos

pandas: 

```
df.info()
```

In [ ]:
df.printSchema()

root
 |-- Event: string (nullable = true)
 |-- White: string (nullable = true)
 |-- Black: string (nullable = true)
 |-- Result: string (nullable = true)
 |-- UTCDate: string (nullable = true)
 |-- UTCTime: string (nullable = true)
 |-- WhiteElo: string (nullable = true)
 |-- BlackElo: string (nullable = true)
 |-- WhiteRatingDiff: string (nullable = true)
 |-- BlackRatingDiff: string (nullable = true)
 |-- ECO: string (nullable = true)
 |-- Opening: string (nullable = true)
 |-- TimeControl: string (nullable = true)
 |-- Termination: string (nullable = true)
 |-- AN: string (nullable = true)

## Estadística descriptiva 

pandas: 

```
df.describe()
```

In [ ]:
df.describe().show()

+-------+--------------------+--------------------+--------------------+-------+----------+--------+------------------+-----------------+------------------+--------------------+-------+--------------------+-----------+------------+--------------------+
|summary|               Event|               White|               Black| Result|   UTCDate| UTCTime|          WhiteElo|         BlackElo|   WhiteRatingDiff|     BlackRatingDiff|    ECO|             Opening|TimeControl| Termination|                  AN|
+-------+--------------------+--------------------+--------------------+-------+----------+--------+------------------+-----------------+------------------+--------------------+-------+--------------------+-----------+------------+--------------------+
|  count|             6256184|             6256184|             6256184|6256184|   6256184| 6256184|           6256184|          6256184|           6251516|             6251516|6256184|             6256184|    6256184|     6256184|             6256184|
|   mean|                null| 3.782330196990727E9| 3.354604044919762E9|   null|      null|    null|1741.9453049974234|1740.390282638746|0.5802621316173548|-0.36767321718443974|   null|                null|       null|        null|                null|
| stddev|                null|5.801731265753314E10|4.802665283683308...|   null|      null|    null| 265.7170528378767|266.8938055381729|22.851855195181912|  21.820123820447357|   null|                null|       null|        null|                null|
|    min|              Blitz |           --o-o-o--|           --o-o-o--|      *|2016.06.30|00:00:00|              1000|             1000|                +2|                  +3|    A00|    Alekhine Defense|          -|   Abandoned|1. Na3 Na6 2. Nh3...|
|    max|Classical tournam...|             zzzzzzr|             zzzzzzr|1/2-1/2|2016.07.31|23:59:59|               999|              999|              99.0|                99.0|    E99|Zukertort Opening...|     960+90|Unterminated|1. h4?! { [%eval ...|
+-------+--------------------+--------------------+--------------------+-------+----------+--------+------------------+-----------------+------------------+--------------------+-------+--------------------+-----------+------------+--------------------+

## Filtrar el dataset 

pandas: 

```
df[df['Event']=='Classical']
```

In [ ]:
df.filter(df.Event == "Classical ").show()

+----------+---------------+----------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+
|     Event|          White|           Black|Result|   UTCDate| UTCTime|WhiteElo|BlackElo|WhiteRatingDiff|BlackRatingDiff|ECO|             Opening|TimeControl| Termination|                  AN|
+----------+---------------+----------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+
|Classical |          Rokki|     solibalsara|   0-1|2016.07.02|23:16:20|    1868|    2123|           -4.0|            5.0|D08|Queen's Gambit Re...|     780+12|Time forfeit|1. d4 d5 2. c4 e5...|
|Classical |  DieAffeninsel|          AtitDJ|   0-1|2016.07.05|11:40:16|    1415|    1610|           -5.0|            6.0|A07|King's Indian Attack|     1200+0|      Normal|1. Nf3 d5 2. g3 N...|
|Classical |         Firhad|          h6HuXu|   1-0|2016.07.07|19:40:13|    1740|    1807|           14.0|          -12.0|B01|Scandinavian Defe...|     300+10|      Normal|1. e4 { [%eval 0....|
|Classical |    Kaiser-Sose|Throw_In_The_Tal|   1-0|2016.07.10|15:27:44|    1471|    1503|           12.0|          -13.0|C50|        Italian Game|     1800+0|      Normal|1. e4 e5 2. Nf3 N...|
|Classical |      asemanabi|        amateurd|   1-0|2016.07.11|23:59:51|    1856|    2105|           18.0|          -19.0|C01|French Defense: E...|      600+0|      Normal|1. d4 d5 2. c4 e5...|
|Classical |       Abel4865|       Alabama24|   1-0|2016.07.14|12:24:00|    1695|    1567|            7.0|           -7.0|A00|Hungarian Opening...|      600+2|      Normal|1. g3 e6 2. Bg2 d...|
|Classical |playforpleasure|       Moslem555|   1-0|2016.07.23|11:32:05|    1910|    1775|            7.0|           -8.0|D00|   Queen's Pawn Game|      480+0|      Normal|1. d4 d5 2. c3 c5...|
+----------+---------------+----------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+

## Ordenar el dataset
pandas: 

```
df.sort_values(by=['UTCDate'], ascending=False)
```

In [ ]:
df.sort(F.col("UTCDate").desc()).show(10)

+--------------------+-------------+-------------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+
|               Event|        White|              Black|Result|   UTCDate| UTCTime|WhiteElo|BlackElo|WhiteRatingDiff|BlackRatingDiff|ECO|             Opening|TimeControl| Termination|                  AN|
+--------------------+-------------+-------------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+
|   Blitz tournament |       iyei15|             SJ1992|   0-1|2016.07.31|00:00:03|    1288|    1449|           -7.0|            6.0|B30|Sicilian Defense:...|      180+0|Time forfeit|1. e4 { [%eval 0....|
| Classical tourna...|   Cullarvega|     Vlctor3million|   1-0|2016.07.31|00:00:03|    1753|    1727|           11.0|          -11.0|A44|  Old Benoni Defense|      600+0|      Normal|1. d4 c5 2. d5 e5...|
|              Blitz |   AryaPotter|             PTNXLO|   1-0|2016.07.31|00:00:01|    1669|    1683|           11.0|          -11.0|B01|Scandinavian Defe...|      180+1|      Normal|1. e4 { [%eval 0....|
| Classical tourna...|Scouting4reds|          Adriano95|   0-1|2016.07.31|00:00:03|    1812|    1862|           -9.0|            9.0|D04|Queen's Pawn Game...|      600+0|      Normal|1. d4 Nf6 2. e3 d...|
|   Blitz tournament |   tranquilin|       dreamingflow|   1-0|2016.07.31|00:00:03|    1772|    1792|           12.0|          -13.0|B00|         King's Pawn|      300+0|   Abandoned|           1. e4 1-0|
| Classical tourna...|    mashanafi|          hellSp4wn|   1-0|2016.07.31|00:00:03|    1781|    1782|           11.0|          -11.0|B22|Sicilian Defense:...|      600+0|Time forfeit|1. e4 c5 2. c3 d6...|
|   Blitz tournament | seriousman41|    eruditbattle_ru|   0-1|2016.07.31|00:00:03|    2073|    2094|          -52.0|           11.0|B40|Sicilian Defense:...|      180+0|      Normal|1. e4 c5 2. Nf3 e...|
| Classical tourna...|   aeapmestre|Carrascodamadrugada|   1-0|2016.07.31|00:00:03|    2108|    2067|           11.0|          -26.0|A01|Nimzo-Larsen Atta...|      600+0|      Normal|1. b3 d5 2. Bb2 N...|
|   Blitz tournament |         Tr3x|          Timothase|   1-0|2016.07.31|00:00:03|    1853|    1911|           24.0|          -13.0|C54|Italian Game: Cla...|      300+0|Time forfeit|1. e4 e5 2. d4 ex...|
| Classical tourna...|     alexalad|          badcattie|   1-0|2016.07.31|00:00:03|    1580|    1548|           98.0|          -12.0|B50|    Sicilian Defense|      600+0|      Normal|1. e4 c5 2. Nf3 d...|
+--------------------+-------------+-------------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+--------------------+
only showing top 10 rows

## Eliminar una columna:

pandas: 

```
df.drop(columns=['AN'], inplace=True)
```

In [ ]:
df = df.drop("AN")
df.show(10)

+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+
|             Event|          White|          Black|Result|   UTCDate| UTCTime|WhiteElo|BlackElo|WhiteRatingDiff|BlackRatingDiff|ECO|             Opening|TimeControl| Termination|
+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+
|        Classical |        eisaaaa|       HAMID449|   1-0|2016.06.30|22:00:01|    1901|    1896|           11.0|          -11.0|D10|        Slav Defense|      300+5|Time forfeit|
|            Blitz |         go4jas|     Sergei1973|   0-1|2016.06.30|22:00:01|    1641|    1627|          -11.0|           12.0|C20|King's Pawn Openi...|      300+0|      Normal|
| Blitz tournament |Evangelistaizac|         kafune|   1-0|2016.06.30|22:00:02|    1647|    1688|           13.0|          -13.0|B01|Scandinavian Defe...|      180+0|Time forfeit|
|   Correspondence |         Jvayne|       Wsjvayne|   1-0|2016.06.30|22:00:02|    1706|    1317|           27.0|          -25.0|A00|Van't Kruijs Opening|          -|      Normal|
| Blitz tournament |         kyoday|      BrettDale|   0-1|2016.06.30|22:00:02|    1945|    1900|          -14.0|           13.0|B90|Sicilian Defense:...|      180+0|Time forfeit|
| Blitz tournament | lucaseixasouza|         diguim|   0-1|2016.06.30|22:00:02|    1773|    1809|          -10.0|           10.0|C27|         Vienna Game|      180+0|      Normal|
| Blitz tournament |       RENZZO77|HeadlessChicken|   0-1|2016.06.30|22:00:02|    1895|    1886|          -12.0|           12.0|B10|Caro-Kann Defense...|      180+0|Time forfeit|
| Blitz tournament |          ipero|      Bayern123|   1-0|2016.06.30|22:00:02|    2155|    2356|           20.0|          -20.0|D02|Queen's Pawn Game...|      180+0|      Normal|
| Blitz tournament |Loginov19510410|        Kereshu|   0-1|2016.06.30|22:00:02|    2010|    2111|           -9.0|            9.0|A45|         Indian Game|      300+0|      Normal|
| Blitz tournament |     Shambobala|     cernunnoss|   1-0|2016.06.30|22:00:02|    1764|    1773|           12.0|          -12.0|B01|Scandinavian Defe...|      180+0|Time forfeit|
+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+
only showing top 10 rows

## Eliminar datos nulos:

pandas: 

```
df.dropna(inplace=True)
```

In [ ]:
df = df.na.drop()
df.show()

+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+
|             Event|          White|          Black|Result|   UTCDate| UTCTime|WhiteElo|BlackElo|WhiteRatingDiff|BlackRatingDiff|ECO|             Opening|TimeControl| Termination|
+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+
|        Classical |        eisaaaa|       HAMID449|   1-0|2016.06.30|22:00:01|    1901|    1896|           11.0|          -11.0|D10|        Slav Defense|      300+5|Time forfeit|
|            Blitz |         go4jas|     Sergei1973|   0-1|2016.06.30|22:00:01|    1641|    1627|          -11.0|           12.0|C20|King's Pawn Openi...|      300+0|      Normal|
| Blitz tournament |Evangelistaizac|         kafune|   1-0|2016.06.30|22:00:02|    1647|    1688|           13.0|          -13.0|B01|Scandinavian Defe...|      180+0|Time forfeit|
|   Correspondence |         Jvayne|       Wsjvayne|   1-0|2016.06.30|22:00:02|    1706|    1317|           27.0|          -25.0|A00|Van't Kruijs Opening|          -|      Normal|
| Blitz tournament |         kyoday|      BrettDale|   0-1|2016.06.30|22:00:02|    1945|    1900|          -14.0|           13.0|B90|Sicilian Defense:...|      180+0|Time forfeit|
| Blitz tournament | lucaseixasouza|         diguim|   0-1|2016.06.30|22:00:02|    1773|    1809|          -10.0|           10.0|C27|         Vienna Game|      180+0|      Normal|
| Blitz tournament |       RENZZO77|HeadlessChicken|   0-1|2016.06.30|22:00:02|    1895|    1886|          -12.0|           12.0|B10|Caro-Kann Defense...|      180+0|Time forfeit|
| Blitz tournament |          ipero|      Bayern123|   1-0|2016.06.30|22:00:02|    2155|    2356|           20.0|          -20.0|D02|Queen's Pawn Game...|      180+0|      Normal|
| Blitz tournament |Loginov19510410|        Kereshu|   0-1|2016.06.30|22:00:02|    2010|    2111|           -9.0|            9.0|A45|         Indian Game|      300+0|      Normal|
| Blitz tournament |     Shambobala|     cernunnoss|   1-0|2016.06.30|22:00:02|    1764|    1773|           12.0|          -12.0|B01|Scandinavian Defe...|      180+0|Time forfeit|
|        Classical |        DARDELU|   chess4life54|   0-1|2016.06.30|22:00:01|    1649|    1638|          -13.0|           11.0|C57|Italian Game: Two...|      900+3|      Normal|
|        Classical |        fabikim|         sereno|   1-0|2016.06.30|22:00:02|    1630|    1500|            7.0|           -7.0|C41| Philidor Defense #3|      420+5|      Normal|
| Blitz tournament |      IZDenisZI|         BoBo93|   1-0|2016.06.30|22:00:02|    1833|    1837|           11.0|          -12.0|C36|King's Gambit Acc...|      300+0|      Normal|
| Blitz tournament |     lasha-fero| ildivinojohnny|   1-0|2016.06.30|22:00:02|    2020|    1979|           10.0|          -11.0|A00|      Polish Opening|      180+0|Time forfeit|
| Blitz tournament |       arkadyNa|     sofianet06|   0-1|2016.06.30|22:00:02|    1581|    1616|          -12.0|           11.0|B01|Scandinavian Defe...|      180+0|Time forfeit|
| Blitz tournament |    mayconchess|        trend19|   0-1|2016.06.30|22:00:02|    1879|    1868|          -13.0|           12.0|B01|Scandinavian Defe...|      180+0|      Normal|
| Blitz tournament |         lj1983|        plmnnnn|   1-0|2016.06.30|22:00:02|    1963|    1979|           12.0|          -13.0|B10|Caro-Kann Defense...|      180+0|      Normal|
| Blitz tournament |         Inorem|       leymoral|   1-0|2016.06.30|22:00:02|    1751|    1712|           10.0|          -10.0|C62|Ruy Lopez: Steini...|      180+0|      Normal|
| Blitz tournament |     Torres2300| Trabelsi-Wajdi|   0-1|2016.06.30|22:00:02|    1795|    1800|          -14.0|           11.0|B32|Sicilian Defense:...|      300+0|      Normal|
| Blitz tournament |         Igor76|          dancg|   1-0|2016.06.30|22:00:02|    1913|    1925|           11.0|          -13.0|B12|Caro-Kann Defense...|      300+0|      Normal|
+------------------+---------------+---------------+------+----------+--------+--------+--------+---------------+---------------+---+--------------------+-----------+------------+
only showing top 20 rows

## Convertir datos a DataFrame de Pandas:

In [ ]:
df_Pandas = df.select("Event", "White", "Black", "Result").limit(50).toPandas()

In [ ]:
df_Pandas.head()

                Event            White       Black Result
0          Classical           eisaaaa    HAMID449    1-0
1              Blitz            go4jas  Sergei1973    0-1
2   Blitz tournament   Evangelistaizac      kafune    1-0
3     Correspondence            Jvayne    Wsjvayne    1-0
4   Blitz tournament            kyoday   BrettDale    0-1

In [ ]:
df_Pandas.shape

(50, 4)

## UDF

Los UDF de Pyspark son similares a los métodos .map () y .apply () de pandas 'series y dataframes'.

Eliminar espacios en un string:

In [ ]:
UDF_python = F.udf(lambda s: s.replace(" ", ""), StringType())
df = df.withColumn("Event", UDF_python("Event"))

In [ ]:
df.show()

## Agrupar datos

pandas: 

```
df.groupby('Event').count()
```

In [ ]:
df_group = df.groupBy('Event').count()
df_group.show()

## Cambiar tipo de dato de una columna (date)

pandas: 

```
df['Date] = pd.to_datetime(df['UTCDate'], format="%Y/%m/%d")
```

In [ ]:
df = df.withColumn("Date", F.to_date(F.col("UTCDate"),"yyyy.MM.dd"))
df.printSchema()

## Renombrar una columna

pandas: 

```
df.rename(columns={'Opening':'Opening Type'}, inplace=True)
```

In [ ]:
df = df.withColumnRenamed("Opening", "Opening Type")

In [ ]:
df.show(3)

In [ ]:
Image(filename='sql.png')

# **Spark SQL en Python**

## Creación de vista del dataframe

In [ ]:
df.createOrReplaceTempView("chess_games")

## Cantidad de resgistros

In [ ]:
spark.sql("SELECT COUNT(*) FROM chess_games").show()

+--------+
|count(1)|
+--------+
| 6251516|
+--------+

## Valores únicos de una columna

In [ ]:
spark.sql("SELECT DISTINCT Result FROM chess_games").show()

+-------+
| Result|
+-------+
|1/2-1/2|
|    1-0|
|    0-1|
|      *|
+-------+

## Crear nueva columna

In [ ]:
spark.sql("SELECT Event, White, Black, Result, CASE WHEN Result = '1/2-1/2' THEN 'Empate' WHEN Result = '1-0' THEN 'White wins' WHEN Result = '0-1' THEN 'Black wins' ELSE 'NA' END AS definitive_results FROM chess_games").show()

+------------------+---------------+---------------+------+------------------+
|             Event|          White|          Black|Result|definitive_results|
+------------------+---------------+---------------+------+------------------+
|        Classical |        eisaaaa|       HAMID449|   1-0|        White wins|
|            Blitz |         go4jas|     Sergei1973|   0-1|        Black wins|
| Blitz tournament |Evangelistaizac|         kafune|   1-0|        White wins|
|   Correspondence |         Jvayne|       Wsjvayne|   1-0|        White wins|
| Blitz tournament |         kyoday|      BrettDale|   0-1|        Black wins|
| Blitz tournament | lucaseixasouza|         diguim|   0-1|        Black wins|
| Blitz tournament |       RENZZO77|HeadlessChicken|   0-1|        Black wins|
| Blitz tournament |          ipero|      Bayern123|   1-0|        White wins|
| Blitz tournament |Loginov19510410|        Kereshu|   0-1|        Black wins|
| Blitz tournament |     Shambobala|     cernunnoss|   1-0|        White wins|
|        Classical |        DARDELU|   chess4life54|   0-1|        Black wins|
|        Classical |        fabikim|         sereno|   1-0|        White wins|
| Blitz tournament |      IZDenisZI|         BoBo93|   1-0|        White wins|
| Blitz tournament |     lasha-fero| ildivinojohnny|   1-0|        White wins|
| Blitz tournament |       arkadyNa|     sofianet06|   0-1|        Black wins|
| Blitz tournament |    mayconchess|        trend19|   0-1|        Black wins|
| Blitz tournament |         lj1983|        plmnnnn|   1-0|        White wins|
| Blitz tournament |         Inorem|       leymoral|   1-0|        White wins|
| Blitz tournament |     Torres2300| Trabelsi-Wajdi|   0-1|        Black wins|
| Blitz tournament |         Igor76|          dancg|   1-0|        White wins|
+------------------+---------------+---------------+------+------------------+
only showing top 20 rows

## Calculos de una columna

In [ ]:
spark.sql("SELECT AVG(WhiteELO) as avg_white_elo, AVG(BlackELO) as avg_black_elo  FROM chess_games").show()

+------------------+----------------+
|     avg_white_elo|   avg_black_elo|
+------------------+----------------+
|1741.9246147654426|1740.37044838404|
+------------------+----------------+